
.DS_Store
Esercizio_1A/.DS_Store
Esercizio_1A/img/.DS_Store
Esercizio_1A/img/acceso_spento_2/.DS_Store
Esercizio_1A/img/aperto_chiuso_2/.DS_Store
Esercizio_1A/img/aperto_chiuso_3/.DS_Store
Esercizio_1A/img/rotazione_2/.DS_Store
Esercizio_1A/img/rotazione_3/.DS_Store
Esercizio_1A/img/spostamento_2/.DS_Store
Esercizio_1A/img/spostamento_3/.DS_Store
Esercizio_1B/.DS_Store
Esercizio_1B/img/.DS_Store
Esercizio_1B/img/evaporazione/.DS_Store
Esercizio_2A/.DS_Store
Esercizio_1B/img/fusione/.DS_Store
Esercizio_1B/img/fusione/.DS_Store
Esercizio_1B/img/fusione/.DS_Store
